/* ============== Reset css styles ==================== */
* {margin:0;padding:0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

html{
    /* height: 100%; */
}

.err-body{
    display: flex;
    flex-direction: column;
    height: 100%;
	align-content: space-between;
}


.main{
   /*Основной раздел будет занимать все свободное место на странице*/
	display: flex;
	flex-direction: column;
	height: 100%;
	align-content: space-between;
	flex: 1 0 auto;
}

.headerMain { 		/* Заголовок страницы */
	display: flex; 							/* Включаем режим Flexbox. */
	flex-direction: column;
	justify-content: space-around;		/* Распределяем элементы внутри шапки */
	align-items: flex-start;
	flex-wrap:wrap;
	position: fixed;
	top:0px;
	left:1%; 
	height:200px;
	width:98%; 
	z-index:100; 
	/* background-color: #F4F4F4; */
	background: -moz-linear-gradient(top, #e2e2e2, #fefefe); 
	/* border: 1px solid red; */
	
}

.headerMain-row1 {	/* Первая строка заголовка */
	display: flex; 						/* Включаем режим Flexbox. */
	justify-content: space-between;		/* Распределяем элементы внутри шапки */
	align-items: center;				/* Выравниваем элементы вертикально по центру. */
	width:97%; 
	height:45px;
	/* border: 1px solid red; */
}

.site-header {		/* Первая колонка - кнопка-ссылка заголовка сайта */
	width:365px; 
	float:left; 
	text-align: left; 
	/* border:1px solid red; */
	font:20px/26px Verdana, sans-serif;
    color:#333333;
    font-weight:400;
}

.site-rss {			/* Третья колонка (Правый блок) - кнопки поиска, соцсетей и RSS */
	display: flex;
	width:250px; 
	float:right; 
	justify-content: center;
	/* text-align: right;  */
	/* border:5px solid blue; */
}



.headerMain-row2 { 	/* Вторая строка заголовка */
	display: flex;						/* Включаем режим Flexbox. */
	flex-direction: row;
	justify-content: space-between;		/* Распределяем элементы внутри шапки */
	align-items: stretch;				/* Выравниваем элементы вертикально по центру. */
	width:97%;
	/* height:120px; */
/* margin-left: 1%; */
 	
	/* border: 1px solid blue; */
	overflow:auto;
}
.header-article {	/* Текст заголовка статьи */
	font-weight: normal; 
	font: 2em Georgia,Times,serif; 
	width:97%;
	color: #333333; 
	text-align: center; 
	float:left;
	align-self: baseline;

}

.lang-ua {		/* Кнопка-ссылка изменения языка */
	font-weight: normal; 
	font: 1.8em Tahoma,Times,serif; 
	color: #333333; 
	text-align: center; 
	float:right;
	align-self: baseline;
	/* border: 5px solid red; */

}



a.btn-lang {
background: #999;								/*цвет фона*/
	
	background-image: -webkit-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:    -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:     -ms-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:      -o-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:         linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    border: none;
	
    border-radius: 5px;									/*радиус скругления*/
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.2),		/*внутрення тень*/
                inset 0 2px 0 hsla(0,0%,100%,.1),
                inset 0 1.2em 0 hsla(0,0%,100%,0.1),
                inset 0 -.2em 0 hsla(0,0%,100%,.1),
                inset 0 -.25em 0 hsla(0,0%,0%,.25),
                0 .25em .25em hsla(0,0%,0%,.05);
    color: #333;/*цвет текста*/
    display: table;/*элемент таблицы*/
    font-family: sans-serif;/*семейство шрифта*/
    font-size: 14px;/*размер текста*/
    font-weight: bold;/*жирный шрифт*/
    line-height: 1.5;/*высота строки*/
    padding: 5px 5px;/*внутрение отступы*/
    margin:0 auto;/*выравнивание по центру*/
    text-decoration: none;/*убераем подчеркивание*/
    transition: all 0.3s;/*плавный эффект перехода*/

}

a.btn-lang:hover,
 a.btn-lang:focus {
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.2),
                inset 0 2px 0 hsla(0,0%,100%,.1),
                inset 0 1.2em 0 hsla(0,0%,100%,.1),
                inset 0 -.2em 0 hsla(0,0%,100%,.1),
                inset 0 -.25em 0 hsla(0,0%,0%,.25),
                inset 0 0 0 3em hsla(0,0%,100%,.2),
                0 .25em .25em hsla(0,0%,0%,.05);
}
 a.btn-lang:active {
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.2),
                inset 0 2px 0 hsla(0,0%,100%,.1),
                inset 0 1.2em 0 hsla(0,0%,100%,.1),
                inset 0 0 0 3em hsla(0,0%,100%,.2),
                inset 0 .25em .5em hsla(0,0%,0%,.05),
                0 -1px 1px hsla(0,0%,0%,.1),
                0 1px 1px hsla(0,0%,100%,.25);
    margin-top: .25em;
    outline: none;
    padding-bottom: .5em;
}

.headerMain-row3 {	/* третья строка заголовка */
	display: flex; 						/* Включаем режим Flexbox. */
	justify-content: space-around;		/* Распределяем элементы внутри шапки */
	align-items: center;				/* Выравниваем элементы вертикально по центру. */
	width:97%; 
	height:30px;
	border-bottom: 1px solid green; */
}


.content-text {			/* Текст статьи */
	visibility: visible;
	display: flex; 							/* Включаем режим Flexbox. */
	flex-direction: column;
	justify-content: flex-start;	 	/* Распределяем элементы внутри шапки */
	align-items: center;
	/* flex-wrap:wrap; */
	position:absolute;
	top:200px; 
	left:1%; 
	width:99%;
	padding-right: 5px;
	height: calc(100vh - 250px);
	z-index:99; 	
	overflow: auto;
	background-color: #ffffff;
}

.content-text > p {
	color: #333333;
	margin-top: 2%;
	line-height: 1.2;
	font-family: Tahoma, Georgia, 'Times New Roman', Times, serif;
	font-size: large;
	/* , medium, large, x-large, xx-large */
	/* text-indent: 1.5em; */
}

.content-category {			/* Категории статьи */
	visibility: hidden;
	display: flex; 							/* Включаем режим Flexbox. */
	flex-direction: column;
	justify-content: flex-start;	 	/* Распределяем элементы внутри шапки */
	align-items: center;
	/* flex-wrap:wrap; */
	position:absolute;
	top:200px; 
	left:1%; 
	/* margin-left: 1%; */
	width:98%; 
	height: calc(100vh - 250px);
	z-index:99; 	
	overflow: auto;
	background-color: #ffffff;
}

.content-disqus {			/* Комментарии к статье */
	visibility: hidden;
	display: flex; 							/* Включаем режим Flexbox. */
	flex-direction: column;
	justify-content: flex-start;	 	/* Распределяем элементы внутри шапки */
	align-items: center;
	/* flex-wrap:wrap; */
	position:absolute;
	top:200px; 
	left:1%; 
	/* margin-left: 1%; */
	width:98%; 
	height: calc(100vh - 250px);
	z-index:99; 	
	overflow: auto;
	background-color: #ffffff;
}

.footer{
	display: flex; 							/* Включаем режим Flexbox. */
	flex-direction: row;
	justify-content: flex-end;	 	/* Распределяем элементы внутри шапки */
	align-items: center;
	flex-wrap:wrap;
	position:fixed;
	bottom: 1px; 
	left:1%; 
	/* margin-left: 1%; */
	width:98%; 
	height: 40px;
	z-index:99; 	
	background: -moz-linear-gradient(bottom, #e2e2e2, #fefefe);   
	
 }
 
 .site-donate {			/* Кнопка "Помочь сайту" */
	display: flex;
	width:250px; 
	float:right; 
	justify-content: flex-end;
	/* text-align: right;  */
	/* border:2px solid blue; */
}
 a.button { 		/* стиль кнопок */
    background: #6fcf6f;								/*цвет фона*/
	
	background-image: -webkit-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:    -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:     -ms-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:      -o-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:         linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    border: none;
	
    border-radius: 5px;									/*радиус скругления*/
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.2),		/*внутрення тень*/
                inset 0 2px 0 hsla(0,0%,100%,.1),
                inset 0 1.2em 0 hsla(0,0%,100%,0.1),
                inset 0 -.2em 0 hsla(0,0%,100%,.1),
                inset 0 -.25em 0 hsla(0,0%,0%,.25),
                0 .25em .25em hsla(0,0%,0%,.05);
    color: #333;/*цвет текста*/
    display: table;/*элемент таблицы*/
    font-family: sans-serif;/*семейство шрифта*/
    font-size: 14px;/*размер текста*/
    font-weight: bold;/*жирный шрифт*/
    line-height: 1.5;/*высота строки*/
    padding: 5px 5px;/*внутрение отступы*/
    margin:0 auto;/*выравнивание по центру*/
    text-decoration: none;/*убераем подчеркивание*/
    transition: all 0.3s;/*плавный эффект перехода*/
}

 
a.tab-button-text { 		/*стиль кнопки по умолчанию*/
	pointer-events: none;
	border-top: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid #fff;
	background-color: #fff;
	color: #333333;/*цвет текста*/
    display: table;/*элемент таблицы*/
	width: 150px;
    font-family: sans-serif;/*семейство шрифта*/
    font-size: 14px;/*размер текста*/
    font-weight: bold;/*жирный шрифт*/
    line-height: 1.5;/*высота строки*/
    padding: 4px 20px;/*внутрение отступы*/
    /* margin:0 auto; *//*выравнивание по центру*/
	text-align: center;
    text-decoration: none;/*убираем подчеркивание*/
    transition: all 0.3s;/*плавный эффект перехода*/
}

a.tab-button-category { 		/*стиль кнопки по умолчанию*/
    border-top: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	width: 150px;
    background-color: #e2e2e2;
	color: #333333;/*цвет текста*/
    display: table;/*элемент таблицы*/
    font-family: sans-serif;/*семейство шрифта*/
    font-size: 14px;/*размер текста*/
    font-weight: bold;/*жирный шрифт*/
    line-height: 1.5;/*высота строки*/
    padding: 4px 20px;/*внутрение отступы*/
    margin:0 auto;/*выравнивание по центру*/
	text-align: center;
    text-decoration: none;/*убираем подчеркивание*/
    transition: all 0.3s;/*плавный эффект перехода*/
}

a.tab-button-disqus { 		/*стиль кнопки по умолчанию*/
    border-top: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	width: 150px;
	background-color: #e2e2e2;
	color: #333333;/*цвет текста*/
    display: table;/*элемент таблицы*/
    font-family: sans-serif;/*семейство шрифта*/
    font-size: 14px;/*размер текста*/
    font-weight: bold;/*жирный шрифт*/
    line-height: 1.5;/*высота строки*/
    padding: 4px 20px;/*внутрение отступы*/
    margin:0 auto;/*выравнивание по центру*/
	text-align: center;
    text-decoration: none;/*убираем подчеркивание*/
    transition: all 0.3s;/*плавный эффект перехода*/
}

